# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Build / coverage outputs
dist/
build/
coverage/

# Temporary files
*.tmp
*.swp

# Optional npm cache
.npm/

# Debug files
*.pid
*.seed
*.pid.lock
